{% load static %}
<!-- Daisy UI -->
<link rel="stylesheet" href="{% static 'css/daisy-ui.min.css' %}" rel="stylesheet" type="text/css">
<!-- Fontawsome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Custom -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!-- Animate on Scroll CDN -->
<link rel="stylesheet" href="{% static 'css/data-aos.css' %}" />