{% extends 'base.html' %}
{% load static %}
{% block title %}Signup{% endblock %}

{% block content %}
<div class="my-7 border rounded-xl shadow-lg mx-14">
    <div class="p-4 sm:p-7">
        <div class="text-center">
            <h1 class="block text-2xl font-bold">Sign up</h1>
            <p class="mt-2 text-sm">
                Already have an account?
                <a class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                    href="{% url 'login' %}">
                    Login here
                </a>
            </p>
        </div>

        <div class="mt-5">
            <button type="button"
                class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border shadow-lg hover:bg-gray-50 hover:text-black focus:outline-none focus:text-black focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none mb-5">
                <i class="fab fa-google"></i>
                Sign in with Google
            </button>
            <form action="" method="post">
                {% csrf_token %}
                <label class="input input-bordered input-primary flex items-center gap-2 mb-5">
                    Choose Username
                    <input type="text" name="username" required class="grow" />
                </label>
                <label class="input input-bordered input-primary flex items-center gap-2 mb-5">
                    Choose Password
                    <input type="password" name="password" required class="grow" />
                </label>
                <div class="form-control mb-4">
                    <label class="flex items-center cursor-pointer">
                        <input type="checkbox" name="terms" class="checkbox me-3" />
                        <span class="label-text">Accept Terms & Conditions</span>
                    </label>
                </div>
                <button class="btn w-full btn-secondary hover:text-white" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}